<section class="edit-nav">
    <ul>
        <li><a href="/admin/posters">Posters</a></li>
        <li><a href="/admin/displays">Displays</a></li>
        <li><a href="/admin/slideshows">slideshows</a></li>
        <li><a href="/admin/users">Users</a></li>
    </ul>
</section>
<section>
    <h1>Add a display</h1>
    {{#if error}}
        <div class="error">
            {{error}}
        </div>
    {{/if}}
    <form action="{{postUrl}}" method="post">
        <div class="">
            <label for="field_name">Name: </label>
            <input type="text" id="field_name" name="name" value="">
        </div>
        <div class="">
            <label for="field_slideshow">Slideshow: </label>
            <select class="" id="field_slideshow" name="slideshow_id">
              {{#each data}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
        </div>
        <button>Upload!</button>
    </form>
</section>
