 {{> nav}}
<section class="main-content scrollable">
    <section class="content-header">
        <h1>Add a display</h1>
    </section>
    {{#if error}}
        <div class="error">
            {{error}}
        </div>
    {{/if}}
    <form action="{{postUrl.general}}" method="post">
        <div class="">
            <label for="field_name">Name: </label>
            <input type="text" id="field_name" name="name" value="">
        </div>
        <div class="">
            <label for="field_location">Location: </label>
            <input type="text" id="field_location" name="location" value="">
        </div>
        <div class="">
            <label for="field_slideshow">Slideshow: </label>
            <select class="" id="field_slideshow" name="slideshowId">
                {{#each data}}
                    <option value="{{id}}">{{slideshow_name}}</option>
                {{/each}}
            </select>
        </div>
        <a href="/admin/displays" class="btn btn-normal">Cancel</a>
        <button class="btn btn-default" type="submit" id="submit">Add</button>
    </form>
</section>
