{{> nav}}
<section class="content scrollable">
    <h1>Dasboard</h1>
    <article class="card">
      <h2>Posters</h2>
      <p>

      </p>
      <a href="#" class="button">Go</a>
    </article>
    <article class="card">
      <section class="card-header">
        <h2>Displays</h2>
      </section>
      <section class="card-body">
        <p>

        </p>
        <a href="#" class="button">Go</a>
      </section>

    </article>
    <article class="card">
      <h2>Slideshows</h2>
      <p>

      </p>
      <a href="#" class="button">Go</a>
    </article>
</section>
