{{> nav}}
<section class="content scrollable">
    <section class="content-header">
        <h1>Dasboard</h1>
    </section>

    <article class="card">
        <section class="card-header">
            <h2>Posters</h2>
        </section>
        <section class="card-body">
            <p>You have {{data.amoutUnread}} posters. For more intion go to display page.</p>
        </section>
        <a href="/admin/posters" class="button">Go</a>
    </article>
    <article class="card">
        <section class="card-header">
            <h2>Displays</h2>
        </section>
        <section class="card-body">
            <p>There are {{data.numberOfDisplays}} displays. For more information go to display page.</p>
        </section>
        <a href="/admin/displays" class="button">Go</a>
    </article>
    <article class="card">
        <section class="card-header">
            <h2>Slideshows</h2>
        </section>
        <section class="card-body">
            <p>You have got {{data.numberOfSlidehows}} slideshows. For more details go to the slideshow page. </p>
        </section>
        <a href="/admin/slideshows" class="button">Go</a>
    </article>
</section>
