<section class="edit-nav">
  <ul>
      <li><a href="/admin/posters">Posters</a></li>
      <li><a href="/admin/displays">Displays</a></li>
      <li><a href="/admin/slideshows">slideshows</a></li>
      <li><a href="/admin/users">Users</a></li>
  </ul>
</section>
<section>
    <h1>Dasboard</h1>
    
</section>
