{{> nav}}
<section class="main-content scrollable">
    <section class="content-header">
        <h1>Dashboard</h1>
    </section>
    <article class="card">
        <section class="card-header">
            <h2>Content</h2>
        </section>
        <section class="card-body">
            <p>You have <span class="bold">{{data.general.content}}</span> poster(s) or vimeo video(s).
                {{#if rights.admin}}
                    Form these poster(s) or vimeo video(s) are <span class="bold">{{data.general.uncheckedContent}}</span> uncheked.
                {{/if}}
                For more information go to display page.</p>
        </section>
        <a href="/admin/content" class="btn btn-default">Go</a>
        <a href="/admin/content/add" class="btn btn-default">Ad new content</a>
    </article>

    {{#if rights.admin}}
        <article class="card">
            <section class="card-header">
                <h2>Slideshows</h2>
            </section>
            <section class="card-body">
                <p>You have got <span class="bold">{{data.general.slideshows}}</span> slideshows. For more details go to the slideshow page. </p>
            </section>
            <a href="/admin/slideshows" class="btn btn-default">Go</a>
        </article>

        <article class="card">
            <section class="card-header">
                <h2>Displays</h2>
            </section>
            <section class="card-body">
                <p>There are <span class="bold">{{data.general.displays}}</span> displays. For more information go to display page.</p>
            </section>
            <a href="/admin/displays" class="btn btn-default">Go</a>
        </article>
    {{/if}}

</section>
