<footer role="contentinfo">
    <section class="rights">
        <small>&copy; matthias all rights reserved - Hosted by <a href="https://www.digitalocean.com/?refcode=8c8e592f2431"> Digitalocean</a>
      </small>
    </section>
</footer>
