<section class="edit-nav">
    <ul>
        <li><a href="/admin/">Dashboard</a></li>
        <li><a href="/admin/posters">Posters</a></li>
        <li><a href="/admin/slideshows">Slideshows</a></li>
        <li><a href="/admin/displays">Displays</a></li>
        <li><a href="/admin/users">Users</a></li>
    </ul>
</section>
