 {{> nav}}
<section class="content scrollable">
    <section class="content-header">
        <h1>Add a poster</h1>
    </section>
    <section class="content-body">
      {{#if error}}
          <div class="error">
              {{error}}
          </div>
      {{/if}}
      <form action="{{postUrl}}" method="post" enctype="multipart/form-data">
          <div class="">
              <input type="file" name="imageFile" value="" id="field_file">
          </div>
          <div class="">
              <label for="field_name">Name: </label>
              <input type="text" id="field_name" name="name" value="">
          </div>
          <div class="">
              <label for="field_discription">Discription: </label>
              <input type="text" id="field_discription" name="discription" value="">
          </div>
          <div class="">
              <label for="field_duration">type: </label>
              <select class="" name="type">
                  <option value="poster">Pooster</option>
                  <option value="video">Video</option>
                  <option value="Poll">Poll</option>
              </select>
          </div>
          <div class="">
              <label for="field_duration">Duration: </label>
              <select class="" name="duration">
                  <option value="1000">10 sec</option>
                  <option value="2000">20 sec</option>
                  <option value="3000">30 sec</option>
                  <option value="4000">40 sec</option>
                  <option value="5000">50 sec</option>
                  <option value="60000">1 min</option>
                  <option value="90000">1 min 30 sec</option>
                  <option value="120000">2 min</option>
              </select>
          </div>
          <div class="">
              <label for="field_date_start">Start date: </label>
              <input type="date" id="field_date_start" name="date_start" value="">
          </div>
          <div class="">
              <label for="field_date_end">End date: </label>
              <input type="date" id="field_date_end" name="date_end" value="">
          </div>
          <button>Upload!</button>
      </form>
      <img src="" alt="" id="input_preview"/>
    </section>


</section>
