<section class="edit-nav">
  <ul>
      <li><a href="/admin/posters">Posters</a></li>
      <li><a href="/admin/displays">Displays</a></li>
      <li><a href="/admin/slideshows">slideshows</a></li>
      <li><a href="/admin/users">Users</a></li>
  </ul>
</section>
<section>
  <a href="/admin/posters/add">Add new poster</a>

</section>
