 {{> nav}}
<section class="content scrollable">
    <section class="content-header">
        <h1>Your posters</h1>
        <a href="/admin/posters/add" class="btn btn-default">Add new poster</a>
    </section>
    <section class="content-body posters">
        {{#if data.general}}
            {{#each data.general}}
                <div class="poster">
                    <a href="/admin/posters/show/{{id}}">
                        <div class="image no-overflow">
                            <img src="/download/{{filename}}" alt="" />
                        </div>
                        <div class="name">
                            <h2>{{name}}</h2>
                        </div>
                    </a>
                </div>
            {{/each}}
        {{else}}
            <p>You have got no posters please add one.</p>
            <a href="/admin/posters/add">New poster</a>
        {{/if}}
    </section>
</section>
