.btn {
    box-sizing: border-box;
    display: inline-block;
    flex-grow: 0;
    min-width: 8em;
    max-width: 30em;
    height: 2.4em;
    margin: auto;
    line-height: 1.45;
    font-weight: 400;
    padding: .5em 1em;
    border: none;
    border-radius: var(--border-radius);
    color: var(--font-color-dark);
    font-size: 100%;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}
.btn-small {
    padding: 0.2em 0.1em;
    height: auto;
}
.btn-filter {
    padding: 0.3em;
    min-width: inherit;
    background: none;
    color: var( --font-color-gray);
    font-size: 0.8em;
    height: auto;
}
.btn-filter:hover {
    color: var( --normal-color);
}
.btn-filter.expired {
    color: var(--font-color-light);
    background: rgba(0, 156, 144, 0.52);
}
.btn-filter.expired:hover {
    color: var(--font-color-light);
    background: rgba(0, 156, 144, 0.82);
}
.btn-transparant {
    max-width: 20em;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.13);
    color: #fff;
}
.btn-transparant:hover {
    background: rgba(255, 255, 255, 0.40);
}
.btn-normal {
    background-color: var(--background-color-semidark);
    color: var(--font-color-dark);
}
.btn-normal:hover {
    background-color: rgb(89, 89, 89);
    color: var(--font-color-light);
}
.btn-default {
    background-color: var(--normal-color);
    color: var(--font-color-light);
}
.btn-default:hover {
    background-color: var(--normal-color-hover);
}
.btn-accept {
    background-color: var(--eddit-color);
    color: var(--font-color-light);
}
.btn-accept:hover {
    background-color: var(--eddit-color-hover);
}
.btn-warn {
    background-color: var(--warn-color);
    color: var(--font-color-light);
}
.btn-warn:hover {
    background-color: var(--warn-color-hover);
}
.btn-warn[disabled] {
    background-color: var(--background-color-semidark);
    color: var(--font-color-dark);
}
.btn-width {
    min-width: 10em;
}
button.fullwith {
    box-sizing: border-box;
    width: 100%;
    margin: 1em 0;
}
button.top-margin, a.top-margin {
    box-sizing: border-box;
    margin: 1em 0;
}

/*action buttons*/

.btn-action {
    box-sizing: border-box;
    display: inline-block;
    border: none;
    text-align: center;
    background: none;
    color: var(--background-color-semidark);
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    margin: auto;
}
.btn-action svg {
    fill: var(--font-color-gray);
}

/*toggle buttons*/

.toggle-buttons {
    box-sizing: border-box;
    display: var(--display);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1em;
    background: var(--background-color-semidark);
    text-align: center;
}
.toggle-buttons button {
    box-sizing: border-box;
    display: inline-block;
    width: 33.3333333%;
    margin: 0;
    padding: 0.8em 1em;
    border: 0.15em solid var(--normal-color);
    color: var(--font-color-dark);
    font-size: 0.8em;
}
.toggle-buttons button[aria-selected=true] {
    background: var(--normal-color);
    color: var(--font-color-light);
}
.toggle-buttons button:active {
    background: var(--normal-color-hover);
    color: var(--font-color-light);
}
.toggle-buttons button:first-child {
    border-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.toggle-buttons button:last-child {
    border-left: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
@media (--narrow-window-width) {
    button.left-rigt-margin, a.left-rigt-margin {
        margin: auto 0.5em;
    }
}
