/*buttons in the app*/
.btn {
    box-sizing: border-box;
    display: inline-block;
    flex-grow: 0;
    max-width: 30em;
    height: 2.4em;
    margin: auto;
    line-height: 1.45;
    font-weight: 400;
    padding: .5em 1em;
    border: none;
    border-radius: var(--border-radius);
    color: var(--font-color-dark);
    font-size: 100%;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}
.btn-span {
    padding: 0.15em 0.1em;
    max-width: 1em;
    height: auto;
}
/*use this button in the bar on the show page */
.btn-filter {
    padding: 0.3em;
    min-width: inherit;
    background: none;
    color: var( --font-color-gray);
    font-size: 0.8em;
    height: auto;
}
.btn-filter:hover, .btn-filter:focus {
    color: var( --normal-color);
}
.btn-filter.expired {
    color: var(--font-color-light);
    background: rgba(0, 156, 144, 0.52);
}
.btn-filter.expired:focus, .btn-filter.expired:hover {
    color: var(--font-color-light);
    background: rgba(0, 156, 144, 0.82);
}
/*this button is used on the home page*/
.btn-transparant {
    max-width: 20em;
    border: 0.06rem solid #000;
    background: rgba(0, 0, 0, 0.13);
    color: #000;
}
.btn-transparant:hover {
    background: rgba(0, 0, 0, 0.4);
}
/*the normal button gray bacgroun*/
.btn-normal {
    background-color: var(--background-color-semidark);
    color: var(--font-color-dark);
}
.btn-normal:focus,
.btn-normal:hover {
    background-color: rgb(89, 89, 89);
    color: var(--font-color-light);
}
/*this is the default button the background is green*/
.btn-default {
    background-color: var(--normal-color);
    color: var(--font-color-light);
}
.btn-default:focus,
.btn-default:hover {
    background-color: var(--normal-color-hover);
}
.btn-default:focus{
    background-color: var(--normal-color-hover);
}
/*this is the accept button the background is blue */
.btn-accept {
    background-color: var(--eddit-color);
    color: var(--font-color-light);
}
.btn-accept:focus,
.btn-accept:hover {
    background-color: var(--eddit-color-hover);
}
/*this is the warn button the background is red*/
.btn-warn {
    background-color: var(--warn-color);
    color: var(--font-color-light);
}
.btn-warn:focus,
.btn-warn:hover {
    background-color: var(--warn-color-hover);
}
.btn-warn[disabled] {
    background-color: var(--background-color-semidark);
    color: var(--font-color-dark);
}
/*if you would like a big button */
.btn-width {
    min-width: 10em;
}
/*if you would like a botton that is the full with*/
button.fullwith {
    box-sizing: border-box;
    width: 100%;
    margin: 1em 0;
}
button.top-margin, a.top-margin {
    box-sizing: border-box;
    margin: 1em 0;
}

/*action buttons*/

.btn-action {
    box-sizing: border-box;
    display: inline-block;
    border: none;
    text-align: center;
    background: none;
    color: var(--background-color-semidark);
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
    margin: auto;
}
.btn-action:before {
    content: '';
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
    left: -0.5em;
}
.btn-action svg {
    fill: var(--font-color-gray);
}

/*toggle buttons*/

.toggle-buttons {
    box-sizing: border-box;
    display: var(--display);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1em;
    background: var(--background-color-semidark);
    text-align: center;
}
.toggle-buttons button {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0.8em 1em;
    border: 0.15em solid var(--normal-color);
    color: var(--font-color-dark);
    font-size: 0.8em;
}
.toggle-buttons button[aria-selected=true] {
    background: var(--normal-color);
    color: var(--font-color-light);
}
.toggle-buttons button:hover,
.toggle-buttons button:focus,
.toggle-buttons button:active {
    background: var(--normal-color-hover);
    color: var(--font-color-light);
}
.toggle-buttons button:first-child {
    border-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.toggle-buttons button:last-child {
    border-left: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
@media (--narrow-window-width) {
    button.left-rigt-margin, a.left-rigt-margin {
        margin: auto 0.5em;
    }
}
