/*overview*/

.content {
    display: inline-block;
    position: relative;
    margin: 0em;
    padding: 0.5em;
    border-radius: var( --border-radius);
}
.content:hover {
    background: var( --background-color-semidark);
}
.content:hover img {
    filter: grayscale(30%)
}
.content img {
    display: block;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    object-fit: contain;
    z-index: 1;
}
.content .image {
    background: #fc0;
}
.content .name {
    margin: auto;
    display: inline-block;
    width: 100%;
    padding: 0.5em 0 0 0;
    color: var(--font-color-darkgray);
}
.content .name h2 {
    padding: 0;
    font-size: 0.9em;
    font-weight: 600;
}
.content h2 {
    padding: 0.5em;
}
.content .check {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    z-index: 2;
}
.content .check svg {
    width: 2.9em;
}
.content .not-cheked .triangle {
    right: 0;
}
.content .play-icon-bottom {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    width: 5em;
    margin: 7em auto;
    z-index: 1;
}
.content:hover .play-icon-bottom {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
.preview {
    margin: 1em;
}
.preview-size {
    width: 32.4vh;
    height: 57.6vh;
    overflow: hidden;
    background: #000;
    text-align: center;
}
.preview-size img {
    display: block;
    height: 100%;
    object-fit: contain;
}
.play-icon {
    display: var(--display);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    background: rgba(67, 69, 61, 0.80);
}
small.vimeo-tag {
    padding: 0.1em 0.3em;
    border-radius: var( --border-radius);
    background: var(--normal-color);
    color: var(--font-color-light);
    font-weight: 600;
}

/*add a new content*/

@media screen and (--medium-window-width) {
    .content .image {
        height: 20em;
    }
    .content {
        max-width: 15em;
    }
}
@media screen and (--medium-big-window-width) {
    form {
        flex-shrink: 1;
    }
    .img-preview {
        flex-basis: 50%;
        flex-shrink: 1;
    }
    .add-content {
        display: var(--display);
        flex-direction: row;
        flex-wrap: wrap;
    }
}
