.edit-nav ol {
    list-style-position: inside;
    list-style-type: decimal;
}
.edit-nav {
    position: sticky;
    top: 0;
    width: auto;
    min-width: 4em;
    background: var(--primary-color);
    text-align: center;
    z-index: 3;
}
.edit-nav li {
    display: inline-block;
    width: auto;
    text-align: center;
}
.edit-nav a {
    display: block;
    width: auto;
    padding: 0.5em 0.5em;
    text-align: center;
}
.edit-nav small {
    display: none;
    font-size: 0.8em;
}
.icons-only small {
    display: none;
}
.icons-only svg {
    margin: 0 auto;
}
.icons-only {
    min-width: 4.3em;
    text-align: center;
}
.edit-nav a:hover svg {
    fill: var(--font-color-light);
}
.edit-nav a:hover {
    background: var( --background-color-dark);
    color: var(--font-color-light);
}
.edit-nav .user-info {
    display: none;
    width: 100%;
    text-align: left;
    margin: 0.6em 0.6em 1em 0.6em;
}
@media screen and (--narrow-window-width) {
    .edit-nav .user-info {
        display: block;
        display: flex;
    }
    .edit-nav .user-name {
        display: inline-block;
        margin: 0.4em 0.5em;
    }
    .edit-nav .user-info small {
        display: block;
        font-weight: 400;
    }
    .edit-nav .user-info img {
        border-radius: 50%;
        display: inline-block;
        width: 3em;
        height: 3em;
    }
    .edit-nav.icons-only {
        max-width: 4.3em;
    }
    .user-info .user-name, .icons-only .user-name {
        display: none;
    }
    .edit-nav li {
        display: inline-block;
        width: 100%;
    }
    .edit-nav a {
        height: 1em;
        display: block;
        padding: 1em 1em;
        color: var(--font-color-dark);
        text-align: center;
        position: relative;
    }
}
@media screen and (--medium-window-width) {
    .edit-nav .user-info .user-name {
        display: inline-block;
    }
    .edit-nav {
        min-width: 10em;
        max-width: 10em;
    }
    section.edit-nav a {
        text-align: left;
        display: var(--display);
    }
    .edit-nav small {
        display: inline-block;
        height: 100%;
        margin: auto 0;
        vertical-align: center;
    }
    .edit-nav svg {
        margin-right: 1em;
    }
}
