label {
    display: inline-block;
    color: var( --font-color-gray);
    font-size: 1em;
}
textarea {
    min-height: 5em;
    overflow: auto;
    resize: vertical;
}

/*input

inpired by https://codyhouse.co/gem/css-contact-form/*/

input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="number"], input[type="color"], textarea, select, legend {
    appearance: none;
    display: block;
    width: 100%;
    max-width: 30em;
    min-height: 1em;
}
input[type="text"].error, input[type="email"].error, input[type="date"].error, input[type="number"].error, input[type="password"].error, input[type="color"].error, textarea.error, select.error, legend.error {
    border-color: var( --warn-color) !important;
}
input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="number"], input[type="color"], textarea, select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 0.0625em solid rgb(207, 217, 219);
    border-radius: var(--border-radius);
    background-color: var(--background-color-light);
    font-size: 1.1em;
    box-shadow: inset 0 0.0625em 0.0625em rgba(0, 0, 0, 0.08);
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="color"]:focus, textarea:focus, select:focus {
    border-color: var(--normal-color);
    outline: none;
    box-shadow: 0 0 0.3125em rgba(0, 156, 144, 0.2);
}
input[type="color"] {
    min-height: 2em;
}

/*radio and checkbox*/

.checkboxes {
    position: relative;
}
input[type=radio], input[type=checkbox] {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}
input[type="radio"]+ label, input[type="checkbox"]+ label {
    padding-left: 1.5em;
}
input[type="radio"]+ label::before, input[type="radio"]+ label::after, input[type="checkbox"]+ label::before, input[type="checkbox"]+ label::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    content: '';
}
input[type="radio"]+ label::before, input[type="checkbox"]+ label::before {
    border: 0.1em solid rgb(207, 217, 219);
    background: var(--background-color-light);
    box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, 0.08);
}
input[type="radio"]+ label::before, input[type="radio"]+ label::after {
    border-radius: 50%;
}
input[type="checkbox"]+ label::before, input[type="checkbox"]+ label::after {
    border-radius: .25em;
}
input[type="checkbox"]+ label::after {
    width: 1.1em;
    height: 1.1em;
    background-image: url("/img/icons/check.svg");
    background-size: 90%;
}
input[type="radio"]+ label::after, input[type="checkbox"]+ label::after {
    display: none;
    background-color: var(--normal-color);
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0.3125em rgba(0, 156, 144, 0.2);
}
input[type="radio"]:focus+ label::before, input[type="checkbox"]:focus+ label::before {
    box-shadow: 0 0 0.3125em rgba(0, 156, 144, 0.6);
}
input[type="radio"]:checked+ label::after, input[type="checkbox"]:checked+ label::after {
    display: block;
}

/*select*/

.select-icon {
    position: relative;
    max-width: 30em;
}
.select-icon::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1em;
    max-width: 30em;
    height: 1em;
    margin-top: -0.5em;
    background: url("/img/icons/down.svg") no-repeat center center;
    content: '';
    pointer-events: none;
    z-index: 1;
}
select {
    box-shadow: 0 0.0625em 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}

/*lists in form*/

form ul {
    list-style-type: none;
}
form li {
    user-select: none;
    display: inline-block;
    position: relative;
    margin: 0 26px 16px 0;
}
.edit.btn {
    min-width: inherit;
    width: 1em;
}

/*file upload */

#field-file {
    position: absolute;
    left: -999em;
}
.file-input {
    display: var(--display);
    margin: 1em 0;
}
.file-input label[for="field-file"] {
    display: inline-block;
    width: 30%;
    padding: 0.5em;
    float: right;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
}
.file-input span.filename {
    box-sizing: border-box;
    display: inline-block;
    width: 70%;
    padding: 0.5em;
    overflow: hidden;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background: var(--background-color-light);
    font-size: 1em;
    white-space: nowrap;
    box-shadow: inset 0 0.0625em 0.0625em rgba(0, 0, 0, 0.08);
}
