label {
    display: inline-block;
    color: var( --font-color-gray);
    font-size: 1em;
}
textarea {
    min-height: 5em;
    overflow: auto;
    resize: vertical;
}

/*input

inpired by https://codyhouse.co/gem/css-contact-form/*/

input[type="text"], input[type="email"], input[type="date"], input[type="password"], textarea, select, legend {
    appearance: none;
    display: block;
    width: 100%;
}
input[type="text"], input[type="email"], input[type="date"], input[type="password"], textarea, select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 0.0625em solid rgb(207, 217, 219);
    border-radius: var(--border-radius);
    background-color: #ffffff;
    font-size: 1.1em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, textarea:focus, select:focus {
    border-color: var(--normal-color);
    outline: none;
    box-shadow: 0 0 0.3125em rgba(0, 156, 144, 0.2);
}

/*select*/

.select-icon {
    position: relative;
}
.select-icon::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    background: url("/img/icons/down.svg") no-repeat center center;
    content: '';
    pointer-events: none;
    z-index: 1;
}
select {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}

/*lists in form*/

form ul {
    list-style-type: none;
}
form li {
    user-select: none;
    display: inline-block;
    position: relative;
    margin: 0 26px 16px 0;
}

/*file upload */

#field_file {
    position: absolute;
    left: -999em;
}
.file_input {
    display: flex;
    margin: 1em 0;
}
.file_input label[for="field_file"] {
    display: inline-block;
    width: 30%;
    padding: 0.5em;
    float: right;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
}
.file_input span.filename {
    box-sizing: border-box;
    display: inline-block;
    width: 70%;
    padding: 0.5em;
    overflow: hidden;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background: var(--background-color-light);
    font-size: 1em;
    white-space: nowrap;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
