.banner {
        display: flex;
    flex-grow: 1;
    height: 30em;
    background: url(../../img/background.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
}
.banner h1 {
    margin: auto auto;
    color: #fff;
}
