.banner {
    background: url(../../img/background.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
    display: var(--display);
    flex-direction: column;
    flex-grow: 1;
    height: 30em;
}
.banner h1 {
    color: #fff;
    display: block;
    margin: auto auto;
    width: 100%;
}
