.users-form {
    display: flex;
    height: 100vh;
    background: red;
    background: url(/img/background.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
}
.form {
    margin: 4em auto auto auto;
    background: var(--background-color-light);
    padding: 2em;
    width: 15em;
}
.form .message {
    text-align: center;
    color: var(--background-color-semidark);
    font-size: 0.8em;
}
.form .message a {
    color: var(--normal-color);
    text-decoration: none;
}
.form .message a:hover {
    color: var(--normal-color-hover);
    text-decoration: none;
}
