/*menu styling*/

header > nav {
    background: var(--background-color-dark);
    border-bottom-color: RGBA(254, 254, 254, 0.22);
    border-bottom-style: solid;
    border-bottom-width: 0.065rem;
    box-sizing: border-box;
    min-width: 13em;
    padding: 1em;
    position: relative;
    width: 100%;
    z-index: 15;
}
header > nav.transparant {
    background: none;
    position: absolute;
}
header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
header ul > li {
    float: left;
}
header ul > li.right {
    float: right;
}
header ul > .name > a {
    display: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 1em 0 0;
}
header ul > li > a {
    color: var(--font-color-light);
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.35em 1em 0 0;
    text-decoration: none;
    text-transform: uppercase;
}
header ul > li > a:hover {
    -webkit-transition: color .2s ease-out;
    color: var(--primary-color);
    transition: color .2s ease-out;
}
header > nav.nav-black {
    border-bottom-color: RGBA(0, 0, 0, 0.22);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    top: 0px;
}
