/*overview*/

.posters {}
.poster {
    display: inline-block;
    position: relative;
    max-width: 15em;
}
.poster img {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.poster .image {
    display: inline-block;
    height: 20em;
}

.poster .name {
    position: absolute;
    bottom: 0.3em;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.86) 0%, rgba(255, 255, 255, 0) 100%);
    color: var(--font-color-light);
    z-index: 1;
}
.poster h2 {
    padding: 0.5em;
}
.img-preview {
    /*width: 10%;*/
    margin: 1em;
}

/*add a new poster*/

@media screen and (--medium-big-window-width) {
    form {
        flex-shrink: 1;
    }
    .img-preview {
        flex-shrink: 1;
        flex-basis: 50%;
        /*width: 10%;*/
        /*margin: 1em;*/
    }
    .add-poster {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
