/*overview*/

.poster {
    display: inline-block;
    position: relative;
    max-width: 15em;
}
.poster img {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.poster .image {
    display: inline-block;
    height: 20em;
}
.poster .name {
    position: absolute;
    bottom: 0.3em;
    width: 100%;
    background: rgba(67, 69, 61, 0.80);
    color: var(--font-color-light);
    z-index: 1;
}
.poster h2 {
    padding: 0.5em;
}
.img-preview {
    margin: 1em;
}
.play-icon {
    position: absolute;
    margin-right: auto;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(67, 69, 61, 0.80);
}

/*add a new poster*/

@media screen and (--medium-big-window-width) {
    form {
        flex-shrink: 1;
    }
    .img-preview {
        flex-basis: 50%;
        flex-shrink: 1;
    }
    .add-poster {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
