/*overview*/

.screen {
    display: inline-block;
    position: relative;
    margin: 0.2em;
}
.screen img {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.screen .image {
    display: inline-block;
}
.screen .name {
    display: flex;
    position: absolute;
    bottom: 0.3em;
    width: 100%;
    background: rgba(67, 69, 61, 0.80);
    color: var(--font-color-light);
    z-index: 1;
}
.play-icon-bottom {
  margin: auto 0;
}
.screen h2 {
    padding: 0.5em;
}
.screen .check {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.screen .check svg {
    width: 2.9em;
}
.screen .not-cheked .triangle {
    right: 0;
}
.img-preview {
    margin: 1em;
}
.play-icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    background: rgba(67, 69, 61, 0.80);
}

/*add a new screen*/

@media screen and (--medium-window-width) {
    .screen .image {
        height: 20em;
    }
    .screen {
        max-width: 15em;
    }
}
@media screen and (--medium-big-window-width) {
    form {
        flex-shrink: 1;
    }
    .img-preview {
        flex-basis: 50%;
        flex-shrink: 1;
    }
    .add-screen {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
