/*table*/


/*all tables in the app will be responsive on small screens */

table {
    width: 100%;
    margin: 0 0 1em 0;
    border-spacing: 0;
    text-align: left;
}
table td, table th {
    display: block;
    height: 3em;
    padding: 0 0 0 3em;
    overflow: hidden;
    border-bottom: solid 0.14em #DDDDDD;
    color: var( --font-color-dark);
    font-size: 0.95em;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table th {
    display: none;
    padding: 0;
    outline: none;
    color: var( --normal-color);
    font-weight: 500;
}
table a {
    color: inherit;
    font-weight: 400;
}
table tr {
    font-size: 0.9em;
}
table tr {
    display: block;
    margin: 1em 0;
    background: #fff;
}
table td {
    height: 1em;
    padding: 1em;
}
td a {
    display: inline-block
}
table td:before {
    width: 5em;
    color: var( --font-color-dark);
    font-weight: 600;
    text-align: left;
    text-align: left;
    content: attr(data-th) ": ";
}
table table td:last-child {
    border: none;
}

/*dont show the eddit table*/

table td.edit:before {
    display: none;
}
table td.checkboxes label {
    position: absolute;
    margin: 0 auto;
}
table td.checkboxes {
    display: none;
    width: 4em;
    max-width: 4em;
}
td.edit a {
    display: inline-block;
    padding: 0;
}
table a.btn {
    width: 3em;
    min-width: 4em;
    margin: 0;
    color: var(--font-color-light);
}
@media (--medium-window-width) {
    table {
        background: #fff;
    }
    table td.checkboxes {
        display: table-cell;
    }
    table td {
        display: table-cell;
    }
    table th {
        display: table-cell;
    }
    table td:before {
        display: none;
    }
    table tr {
        display: table-row;
        padding: 0;
    }
    table tr {
        display: table-row;
    }
    table th:first-child, table td:first-child {
        padding: 0 0 0 1.8em;
    }
    table th:last-child, table td:last-child {
        width: 8em;
        padding: 0 0.9em 0 0;
    }
    td.checkboxes {
        display: block;
        width: 4em;
        max-width: 4em;
    }
}
