body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--background-color-normal);
}
main {
    width: 100%;
    height: 100%;
    height: calc(100% - 3.753em);
}
img {
    min-height: 2em;
    max-width: 100%;
}
img:before {
    content: " ";
    display: block;
    position: absolute;
    top: -0.8em;
    left: 0;
    height: calc(100% + 0.8em);
    width: 100%;
    background-color: rgb(230, 230, 230);
}
img:after {
    content: "Deze afbeelding is kapot " attr(alt);
    display: block;
    font-size: 1em;
    font-style: normal;
    font-family: FontAwesome;
    color: rgb(100, 100, 100);
    position: absolute;
    top: 0.4em;
    left: 0;
    width: 100%;
    text-align: center;
}
video {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
time {
    font-size: 0.8em;
}
strong {
    font-size: 1em;
    font-weight: bold;
}
section {
    text-rendering: optimizeLegibility;
}

/*scolls */

.no-overflow {
    overflow: hidden;
}

/*postions*/

.disabled {
    visibility: hidden;
    display: none !important;
}

/*warnings */

.error {
    color: var( --warn-color);
}
span.error {
    color: var( --warn-color);
    font-size: 0.8em;
    font-weight: 400;
}
.warning {
    max-width: 30em;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 1em auto 0 auto;
    text-align: center;
    z-index: 16;
}
.warning span {
    padding: 0.2em 0.5em;
    border-radius: var(--border-radius);
    background: var( --warn-color);
    color: var(--font-color-light);
    font-size: 1.1em;
}
.not-found {
    text-align: center;
    margin: 2em auto;
}
@media (--narrow-window-width) {
    main {
        display: var(--display);
        flex-direction: row;
        align-content: stretch;
        margin: 0 auto 0 auto;
    }
    .transparant main {
        display: block;
    }
}
::selection {
    background: var(--primary-color);
}
