<section class="not-found">
    <h1>404</h1>
    <article>
        <h2>{{message}}</h2>
        <p>Sorry, the page doesn't exist</p>
        <a href="/">Go to the home page.</a>
    </article>
</section>
