<section class="center banner">
    <section class="banner-content">
        <h1>CMD Screens</h1>
        <p>
            Show your poster on the CMD screens
        </p>
    </section>
    <section>

        <a href="/users/login" class="btn btn-transparant">Log in</a>
        <a href="/users/register" class="btn btn-default">Sign up</a>
    </section>
</section>

<section class="step">
    <h2>Create poster</h2>
    <p>
        Create your poster with
    </p>
</section>

<section class="step">
    <h2>Upload poster</h2>
    <p>
        Create your poster with
    </p>
</section>

{{> footer}}
