<section class="center banner">
    <h1>Digitale screens</h1>
    <a href="/users/register" class="btn btn-transparant">Create acount</a>
</section>

<!-- <section>
  <h2>Create poster</h2>
  <p>
    Create your poster with
  </p>
</section>

<section>
  <h2>Upload poster</h2>
  <p>
    Create your poster with
  </p>
</section> -->
