<section class="center banner">
    <section class="banner-content">
        <h1>CMD Screens</h1>
        <p> Show your poster on the CMD screens </p>
    </section>
    <section>
        <a href="/users/login" class="btn btn-transparant">Log in</a>
        <a href="/users/register" class="btn btn-default">Register</a>
    </section>
</section>

<article class="steps">
    <section class="introduction">
        <h2>Your steps</h2>
        <p> Would you like to show your poster on the CMD screens? You need to complete 4 steps.
        </p>
    </section>

    <section class="step" data-section="1">
        <section class="wrap">
            <section class="step-description">
                <h2>Create your poster</h2>
                <p>Use your own tool to create your poster. This could be Photoshop or Illusrtrator. Please use the resolution of 1920x1080, because your poster will be shown on a full HD televison. </p>
            </section>
            <picture class="">
                <source srcset="/img/home/step1-1500.png" media="(min-width: 1500w)" />
                <source srcset="/img/home/step1-1280.png" media="(min-width: 1280w)" />
                <source srcset="/img/home/step1-960.png" media="(min-width: 960w)" />
                <source srcset="/img/home/step1-960.png" media="(min-width: 640w)" />
                <source srcset="/img/home/step1-480.png" media="(min-width: 480w)" />
                <img src="/img/home/step1-960.png" alt="">
            </picture>
        </section>
    </section>
    <section class="step" data-section="2">
        <section class="wrap">
            <section class="step-description">
                <h2>Upload your poster</h2>
                <p>When you have created your nice poster you can <a href="/users/register">create</a> a account on this website. And upload your poster. </p>
            </section>
            <picture class="mobile">
                <source srcset="/img/home/step2-1500.png" media="(min-width: 1500w)" />
                <source srcset="/img/home/step2-1280.png" media="(min-width: 1280w)" />
                <source srcset="/img/home/step2-960.png" media="(min-width: 960w)" />
                <source srcset="/img/home/step2-960.png" media="(min-width: 640w)" />
                <source srcset="/img/home/step2-480.png" media="(min-width: 480w)" />
                <img src="/img/home/step2-960.png" alt="">
            </picture>
        </section>
    </section>
    <section class="step" data-section="3">
        <section class="wrap">
            <section class="step-description">
                <h2>Your poster needs a review</h2>
                <p>When you have upload a poster a docent of the CMD will revieuw your poster. This revieuw proces is a week.</p>
            </section>
            <picture class="">
                <source srcset="/img/home/step3-1500.png" media="(min-width: 1500w)" />
                <source srcset="/img/home/step3-1280.png" media="(min-width: 1280w)" />
                <source srcset="/img/home/step3-960.png" media="(min-width: 960w)" />
                <source srcset="/img/home/step3-960.png" media="(min-width: 640w)" />
                <source srcset="/img/home/step3-480.png" media="(min-width: 480w)" />
                <img src="/img/home/step3-960.png" alt="">
            </picture>
        </section>
    </section>
    <section class="step register" data-section="4">
        <section class="wrap">
            <section class="step-description">
                <h2>Your poster is live!</h2>
                <p>If the docent have accepted your poster it will be shown on the CMD screen.</p>
            </section>
            <a href="/users/register" class="btn btn-default">Register</a>
        </section>
    </section>

</article>

{{> footer}}
