<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- for Google -->
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{tags}}">

    <meta name="author" content="Matthias Dolstra">
    <meta name="application-name" content="" />
    <meta name="robots" content="index, follow">
    <noscript>
        <link rel="stylesheet" href="/css/slider.css">
    </noscript>
    <title>Digitale poosters | {{title}}</title>
</head>

<body>
    {{{body}}}
    <script>
        ! function(e) {
            "use strict";
            var t = function(t, n, o) {
                function i(e) {
                    return s.body ? e() : void setTimeout(function() {
                        i(e)
                    })
                }

                function r() {
                    a.addEventListener && a.removeEventListener("load", r), a.media = o || "all"
                }
                var d, s = e.document,
                    a = s.createElement("link");
                if (n) d = n;
                else {
                    var l = (s.body || s.getElementsByTagName("head")[0]).childNodes;
                    d = l[l.length - 1]
                }
                var f = s.styleSheets;
                a.rel = "stylesheet", a.href = t, a.media = "only x", i(function() {
                    d.parentNode.insertBefore(a, n ? d : d.nextSibling)
                });
                var u = function(e) {
                    for (var t = a.href, n = f.length; n--;)
                        if (f[n].href === t) return e();
                    setTimeout(function() {
                        u(e)
                    })
                };
                return a.addEventListener && a.addEventListener("load", r), a.onloadcssdefined = u, u(r), a
            };
            "undefined" != typeof exports ? exports.loadCSS = t : e.loadCSS = t
        }("undefined" != typeof global ? global : this), loadCSS("/css/slider.css");
    </script>
    <!-- Vimeo script  -->
    <script scr="https://a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script src="/js/slideshow.js"></script>
</body>

</html>
