 {{> nav}}
<section class="main-content scrollable">
    <section class="content-header">
        <h1>Add a Poster</h1>
    </section>

    {{#if error}}
        <div class="error">
            {{error}}
        </div>
    {{/if}}
    <form action="{{postUrl}}" method="post" enctype="multipart/form-data">
        <div class="">
            <input type="file" name="imageFile" value="">
        </div>
        <div class="">
            <label for="field_discription">Discription: </label>
            <input type="text" id="field_discription" name="discription" value="">
        </div>
        <div class="">
            <label for="field_duration">type: </label>
            <select class="" name="type">
                <option value="poster">Pooster</option>
                <option value="video">Video</option>
                <!-- <option value="Poll">Poll</option> -->
            </select>
        </div>
        <div class="">
            <label for="field-duration">Duration: </label>
            <input type="number" id="field-duration" name="duration" value="" placeholder="60 (is one min)">
        </div>
        <div class="">
            <label for="field-date-start">Start date: </label>
            <input type="date" id="field-date-start" name="date_start" value="">
            <span class="error" id="date-start-error"></span>
        </div>
        <div class="">
            <label for="field-date-end">End date: </label>
            <input type="date" id="field-date-end" name="date_end" value="">
            <span class="error" id="date-end-error"></span>
        </div>
        <button>Upload!</button>
    </form>
</section>
