<section class="edit-nav">
    <ul>
        <li><a href="/edit/posters">Posters</a></li>
        <li>
            <a href="/edit/slideshows"></a>
        </li>
        <li><a href="/edit/displays">Displays</a></li>
        <li><a href="/edit/users">Users</a></li>
    </ul>
</section>
<section>
  <h1>Displays</h1>
</section>
