<section class="content scrollable users-form">
    <section class="form">
        <form action="{{postUrl.general}}" method="post">
            <h1>Login</h1>
            {{#if error}}
                <div class="error">
                    {{error}}
                </div>
            {{/if}}
            <div class="">
                <label for="field_email">Email: </label>
                <input type="email" id="field_email" name="email" value="" placeholder="E-mail">
                <span class="error" id="email-error"></span>
            </div>
            <div class="">
                <label for="field_password">Password: </label>
                <input type="password" id="field_password" name="password" value="" placeholder="Password">
            </div>


            <button type="submit" class="btn btn-default fullwith">Login!</button>

            <p class="message">Not registered? <a href="/users/register">Create an account</a></p>
        </form>

    </section>

</section>
