<section class="main-content users-form">
    <section class="form">
        <form action="{{postUrl.general}}" method="post">
            <h1>Register</h1>
            {{#if error}}
                <div class="error">
                    {{error}}
                </div>
            {{/if}}

            <div class="">
                <label for="field_email">Email: </label>

                <input type="email" id="field_email" name="email" value="" placeholder="naam@example.nl">
                <span class="error" id="email-error"></span>
            </div>
            <div class="">
                <label for="field_username">Username: </label>
                <input type="text" id="field_username" name="username" value="" placeholder="User name">
            </div>
            <div class="">
                <label for="field_password">Password: </label>
                <input type="password" id="field_password" name="password" value="" placeholder="Password"> {{paswordStrength}}
            </div>
            <div class="">
                <label for="field_password_check">Password check: </label>
                <input type="password" id="field_password_check" name="passwordcheck" value="" placeholder="Password check">
            </div>
            <button type="submit" class="btn btn-default">Signup!</button>
        </form>
    </section>
</section>
