/*top banner*/

.banner {
    height: 30em;
    background: url(../../img/background.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
    text-align: center;
}
.banner h1 {
    display: block;
    width: 100%;
    margin: auto auto;
    color: var( --normal-color);
    font-size: 3em;
}
.banner .banner-content {
    padding: 5em 1em 1em 1em;
}
.banner p {
    font-weight: 500;
}

/*the introduction section witch is yello*/

.introduction {
    padding: 2em;
    background: var(--primary-color);
}
.introduction p {
    max-width: 30em;
    margin: 0 auto;
}

/*the steps the user needs to take*/

.steps {
    text-align: center;
}

/*for the z-index*/

.wrap {
    position: relative;
    margin: 0 auto;
    z-index: 2;
}
.wrap picture {
    width: 100%;
    max-width: 50em;
}
.wrap picture.mobile {
    width: auto;
    max-height: 20em;
}

/*css for every step*/

.step {
    position: relative;
    padding: 1em;
    padding-bottom: 4em;
    background: var(--background-color-light);
}
.step[data-section]:before {
    display: inline-block;
    position: relative;
    width: 1.3em;
    height: 1.3em;
    padding: 0.5em;
    border: 0.25em solid var( --background-color-semidark);
    border-radius: 100%;
    background: var(--background-color-light);
    font-size: 1em;
    font-weight: 400;
    content: attr(data-section);
    z-index: 2;
}
.step[data-section]:after {
    position: absolute;
    top: 0;
    left: 49.85%;
    width: 0.3125em;
    height: 100%;
    background-color: var(--background-color-normal);
    content: '';
    z-index: 1;
}

/*the step description*/

.step-description {
    max-width: 30em;
    margin: 0 auto;
    padding: 0.8em 0 1.2em;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .001), #fff 1.2em, #fff 70%, rgba(255, 255, 255, .001));
    z-index: 10;
}
.step-description a {
    color: var( --normal-color);
}

/*css for step 2*/

.step[data-section="2"]:before {
    border-color: #acacaa;
    background-color: #DEDDDA
}
.step[data-section="2"]:after {
    background-color: #acacaa
}
.step[data-section="2"] {
    background-color: #DEDDDA
}
.step[data-section="2"] .step-description {
    background-image: linear-gradient(to bottom, rgba(222, 221, 217, 0.08), #DEDDDA 1.2em, #DEDDDA 70%, rgba(222, 221, 217, 0.08));
}

/*the css for the register step*/

.step.register {
    background: var(--eddit-color);
    color: var( --font-color-light);
}
.step.register:before {
    border-color: #062950;
    background: var(--eddit-color);
}
.step.register:after {
    background-color: #062950;
    background-image: linear-gradient(to bottom, #062950, #062950 3em, #0A4C96 3em, #0A4C96);
}
.step.register .step-description {
    background-image: linear-gradient(to bottom, rgba(10, 76, 150, 0.04), #0A4C96 1.2em, #0A4C96 70%, rgba(10, 76, 150, 0.04));
}
