.users-form {
    display: var(--display);
    height: 100vh;
    background: red;
    background: url(/img/background.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
}
.form {
    width: 15em;
    margin: 4em auto auto auto;
    padding: 2em;
    background: var(--background-color-light);
}
.form .message {
    color: var(--background-color-semidark);
    font-size: 0.8em;
    text-align: center;
}
.form .message a {
    color: var(--normal-color);
    text-decoration: none;
}
.form .message a:hover {
    color: var(--normal-color-hover);
    text-decoration: none;
}
