.slideshow-add {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.slideshow-content {
    display: inline-block;
    display: var(--display);
    width: 100%;
    height: 6em;
    background: var(--background-color-semidark);
    font-size: 1em;
    z-index: 2;
}
.slideshow-content .add {
    box-sizing: border-box;
    display: inline-block;
    width: 5em;
    height: 100%;
    margin: 0;
    padding: 0 0.1em 0 0;
    border: none;
    cursor: pointer;
}
.slideshow-content .add:focus, .slideshow-content .add:hover {
    background: var(--font-color-gray);
}
.slideshow-content .add:active {
    background: var(--normal-color);
}
.slideshow-content ol {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.contentitem {
    display: inline-block;
    width: 4em;
    height: 6em;
    padding: 0.1em;
    cursor: pointer;
}
.contentitem span {
    display: none;
}
.contentitem div {
    position: absolute;
}
@media screen and (--medium-window-width) {
    .slideshow-add {
        display: var(--display);
        flex-direction: row;
    }
    .slideshow-content {
        display: inline-block;
        width: 13em;
        min-width: 7em;
        height: 100%;
        overflow-y: scroll;
        text-align: center;
    }
    .slideshow-content .image {
        display: inline-block;
        position: relative;
        width: 5em;
        height: 7em;
        padding: 0.3em;
    }
    .slideshow-content .add {
        width: 100%;
        height: 4em;
        margin: 0;
        padding: 1em;
    }
    .slideshow-content ol {
        overflow-x: hidden;
        white-space: normal;
    }
    .contentitem {
        display: block;
        width: 100%;
        height: 8em;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .contentitem span {
        display: inline-block;
    }
    .contentitem div {
        position: relative;
    }
    .slideshow-content div.play-icon {
        position: absolute;
        top: 0;
        z-index: 10;
    }
}

/*picker*/

.slideshow-picker {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 10em;
    left: 0;
    width: 100%;
    height: 60%;
    border: 0.5em solid #fff;
    border-radius: var(--border-radius);
    background: var(--background-color-light);
    text-align: center;
}
.slideshow-picker:after {
    display: block;
    position: absolute;
    top: -1.4em;
    right: 0;
    left: 0;
    width: 0;
    border-width: 0 1em 1em;
    border-style: solid;
    border-color: var(--background-color-light) transparent;
    content: "";
}
@media screen and (--medium-window-width) {
    .slideshow-picker {
        top: 6.9em;
        left: 0.9em;
        width: 14em;
        max-width: 14em;
        height: 12em;
        max-height: 12em;
    }
    .slideshow-picker:after {
        margin: 0 auto 0 auto;
    }
}
.slideshow-picker .scrollable {
    width: 100%;
    height: 80%;
}
.slideshow-picker input {
    display: none;
}
.select input[type=checkbox]:checked+.image {
    opacity: 1;
}
.select input[type=checkbox]+.image {
    width: 4em;
    height: 5em;
    opacity: 0.4;
}
.select .image {
    position: relative;
    width: 4em;
    height: 5em;
    margin: 0.3em;
    float: left;
}
.select label {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 4em;
    height: 5em;
}
.select div {
    display: inline-block;
    position: relative;
    width: 4em;
}
.slideshow-picker button {
    position: absolute;
    bottom: 0em;
    left: 0;
    width: 100%;
}

/*preview*/

.slideshow-preview {
    display: var(--display);
    width: 100%;
    height: 100%;
    height: calc(100% - 3em);
    margin: 1em 0;
    overflow: hidden;
}
.slideshow-preview img {
    width: 60%;
    max-width: 30em;
    margin: auto auto;
    background: var(--background-color-semidark);
}
.slideshow-button {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
}
@media screen and (--medium-window-width) {
    .slideshow-preview {
        margin: 1em 0;
    }
    .slideshow-preview img {
        width: 50%;
        max-width: 30em;
        margin: auto auto;
        background: var(--background-color-semidark);
    }
}

/*pannel*/

.right-panel {
    bottom: -100vh;
    width: 100%;
    min-width: 18em;
    background: var(--background-color-semidark);
    z-index: 11;
}
.right-panel section {
    padding: 1em;
}
@media screen and (--medium-window-width) {
    .right-panel {
        position: relative;
        bottom: 0;
        max-width: 18em;
        height: 100%;
        background: var(--background-color-semidark);
    }
}

/*shortable list */

.contentitem {
    display: block;
    position: relative;
    background: var(--background-color-semidark);
    z-index: 2;
}
.contentitem.placeholder {
    background: var(--font-color-gray);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}
.contentitem a {
    color: var(--font-color-dark);
    text-decoration: none;
}
.contentitem.placeholder a {
    text-decoration: none;
}
.contentitem div.play-icon {
    top: .3em;
    right: .3em;
    left: .3em
}
div.play-icon {
    position: absolute;
}

/*tooltip*/

.checkboxes:hover .tooltip {
    display: block;
}
.checkboxes .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 3em;
    width: 10em;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background-color: var(--eddit-color);
    color: #fff;
    font-size: 0.7em;
    text-align: center;
    z-index: 1;
}
.checkboxes .tooltip::after {
    position: absolute;
    top: 100%;
    left: 40%;
    border-width: 0.5em;
    border-style: solid;
    border-color: var(--eddit-color) transparent transparent transparent;
    content: "";
}
