/*the overall styling of the app*/
html, body {
    background: var(--primary-color);
}
.slideshow {
    position: relative;
    overflow: visible;
    background: url('/img/cmd_brand.png') no-repeat center center fixed;
    background-size: 10%;
}
.mask {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    list-style: none;
    z-index: 0;
    will-change: transform, opacity;
    backface-visibility: hidden;
    perspective: 1000;
}
.slide iframe, .slide img {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.slide img {
    object-fit: contain;
}

/*css for differnt animaions*/


.left-push {
    left: -100vw;
    opacity: 0;
}
.top-push {
    top: -100vh;
    opacity: 0;
}
.pop {
    transform: scale(0);
}
.fadein{
  opacity: 0;
}
